<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :lib_id %>
    <%= form.select :lib_id, options_from_collection_for_select(Lib.all, 'id', 'name') %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate %>
  </div>

  <div class="field">
    <%= form.label :joined_at %>
    <%= form.date_select :joined_at %>
  </div>

  <div class="field">
    <%= form.label :education %>
    <%= form.select :education, options_for_select(Employee.educations.map {|key, value| [key.titleize, Employee.educations.key(value)]}, employee.education) %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.number_field :salary %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
